<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	span {color: red;}
</style>

</head>

<body>
	
<pre>
CREATE TABLE MEMO(
	MNO INT PRIMARY KEY AUTO_INCREMENT,
	MEMO VARCHAR(200) NOT NULL,
	PHONE VARCHAR(30),
	PW VARCHAR(4),
	SECRET CHAR(1) CHECK(SECRET IN ('y', 'n'))
);
	</pre>
	

		<h3>메모기능 구현</h3>
<form action="/memo/memoForm" method="post" th:object="${memo}">
	<textarea th:field="*{memo}" rows="5" cols="30" placeholder="내용을 작성해주세요(5글자 이상)"></textarea>
	<span th:errors="*{memo}"></span><br>

	<input type="text" th:field="*{phone}" placeholder="연락받을 전화번호">
	<span th:errors="*{phone}"></span><br>

	<input type="password" th:field="*{pw}" placeholder="비밀번호 숫자 4자리">
	<span th:errors="*{pw}"></span><br>

	<!--<input type="radio" th:field="*{secret}" value="n" checked>공개글
	<input type="radio" th:field="*{secret}" value="y">비밀글 -->

	<input type="radio" th:field="*{secret}" value="n" th:checked="${memo.secret == 'n'}">공개글
	<input type="radio" th:field="*{secret}" value="y" th:checked="${memo.secret == 'y'}">비밀글

	<span th:errors="*{secret}"></span><br>

	<input type="submit" value="등록">
</form>
	
	
</body>
</html>